.item{
    width: 500px;
    color: #3f3935;
    font-size: 20px;
    margin: 0 auto;
}

.itemName {
    font-weight: bold;
    padding: 20px;
}

.line{
    border: 1px solid #f0f0f0;
}

.deleteButton{
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #f7ca18;
    color: white;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover{
    background-color: rgb(217, 22, 22);
}

.completed{
    text-decoration: line-through;
}